/* NavBar Start */
#navbar{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    max-width: fit-content;
    z-index: 100;
    background: rgba(var(--bg-secondary-rgb), 0.5);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
}
#navbar .nav-routes{
    align-items: center;
    gap: 30px;
}
#navbar .route{
    font-size: 16px;
    font-weight:700;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
#navbar .route.active{
    color: var(--color-primary);
   
}
#navbar .menu-btn{
    display: none;
}
#navbar .theme-toggle{
    display: flex;
    align-items: center;
    
}
#navbar .theme-toggle input{
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}
#navbar .theme-toggle .sun,
#navbar .theme-toggle .moon{
    transform: scale(0);
    transition: var(--transition);
    color: var(--text-color);

}
#navbar .theme-toggle input:not(:checked) ~ .icon-container .sun{
    transform: scale(1);
}
#navbar .theme-toggle input:checked ~ .icon-container .moon{
    transform: scale(1);
}
#navbar .theme-toggle .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* NavBar Responsive code */

@media only screen and (max-width: 700px){
    #navbar{
        max-width: 100%;
        width: 90%;
    }
    #navbar .nav-routes{
        display: none;
    }
    #navbar .menu-btn{
        display: flex;
    }
}

/* sidebar start */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 200;
    background: rgba(var(--bg-secondary-rgb), 0.8);
    -webfkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    transition: var(--transition);
    overflow: hidden;
    
}
.sidebar.visible{
    height: 100%;
}

.sidebar .sidebar-wrapper{
    padding: 1rem;
}
.sidebar .top{
    justify-content: space-between;
}
.sidebar .navitem{
    font-size: 16px;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: var(--transition);
    padding: 10px 0;
}
.sidebar .navitem:hover{
    color: var(--color-primary);
}


/* HEADER START */
#header >.spotlight{
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#header .container{
    min-height: 100vh;
    padding-top: 120px;
    overflow: visible;
}
#header .grid{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

#header .description{
    font-size: 20px;
    line-height: 25px;
}

#header .buttons{
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}
#header .social-handles .icon-container{
    background: var(--bg-base);
}

#header .points{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: rgba(var(--bg-base-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 2rem;
    border-radius: var(--radius-2);
}

#header .points  .flex{
    align-items: center;
    gap: 5px;
}

#header .points .spotlight{
    width: 40%;
    height: 90px;
    right: 0;
}

/* Responsive code */
@media only screen and (max-width: 1500px){
    #header .container{
        min-height: auto;
    }
}

@media only screen and (max-width: 900px){
    #header .grid{
        grid-template-columns: 100%;
    }
    #header .me{
        order: 2;
        max-width: 400px;
        margin: auto;
    }
    #header .user-info{
        order: 1;
    }
    #header .title,
    #header .sub-title,
    #header .description{
        text-align: center;
    }
    #header .buttons,
    #header .social-handles{
        justify-content: center;
    }
    #header .buttons{
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    #header .points{
        grid-template-columns: repeat(2, 1fr);
    }
    #header .points .flex{
        justify-content: center;
    }
    #header .points .text-muted{
        font-size: 12px;
        text-align: center;
    }
}