/* NavBar Start */
#navbar{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    max-width: fit-content;
    z-index: 100;
    background: rgba(var(--bg-secondary-rgb), 0.5);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
}
#navbar .nav-routes{
    align-items: center;
    gap: 30px;
    padding: 0 10px;
}
#navbar .route{
    font-size: 16px;
    font-weight:700;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
#navbar .route.active{
    color: var(--color-primary);
   
}
#navbar .menu-btn{
    display: none;
}
#navbar .theme-toggle{
    display: flex;
    align-items: center;
    
}
#navbar .icon-container{
    background: transparent;
    
}

#navbar .theme-toggle input{
    
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}
#navbar .theme-toggle .sun,
#navbar .theme-toggle .moon{
    transform: scale(0);
    transition: var(--transition);
    color: var(--text-color);

}
#navbar .theme-toggle input:not(:checked) ~ .icon-container .sun{
    transform: scale(1);
}
#navbar .theme-toggle input:checked ~ .icon-container .moon{
    transform: scale(1);
}
#navbar .theme-toggle .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* NavBar Responsive code */

@media only screen and (max-width: 700px){
    #navbar{
        max-width: 100%;
        width: 90%;
    }
    #navbar .nav-routes{
        display: none;
    }
    #navbar .menu-btn{
        display: flex;
    }
}

/* sidebar start */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 200;
    background: rgba(var(--bg-secondary-rgb), 0.8);
    -webfkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    transition: var(--transition);
    overflow: hidden;
    
}
.sidebar.visible{
    height: 100%;
}

.sidebar .sidebar-wrapper{
    padding: 1rem;
}
.sidebar .top{
    justify-content: space-between;
}
.sidebar .navitem{
    font-size: 16px;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: var(--transition);
    padding: 10px 0;
}
.sidebar .navitem:hover{
    color: var(--color-primary);
}


/* HEADER START */
#header >.spotlight{
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#header .user-info{
    margin-top: 80px;
}
#header .container{
    min-height: 100vh;
    padding-top: 120px;
    overflow: visible;
}
#header .grid{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

#header .description{
    font-size: 20px;
    line-height: 25px;
}

#header .buttons{
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}
#header .social-handles .icon-container{
    background: var(--bg-base);
}

#header .points{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: rgba(var(--bg-base-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 2rem;
    border-radius: var(--radius-2);
}

#header .points  .flex{
    align-items: center;
    gap: 5px;
}

#header .points .spotlight{
    width: 40%;
    height: 90px;
    right: 0;
}


/* Responsive code */
@media only screen and (max-width: 1500px){
    #header .container{
        min-height: auto;
    }
}

@media only screen and (max-width: 900px){
    #header .grid{
        grid-template-columns: 100%;
    }
    #header .me{
        order: 2;
        max-width: 400px;
        margin: auto;
    }
    #header .user-info{
        order: 1;
    }
    #header .title,
    #header .sub-title,
    #header .description{
        text-align: center;
    }
    #header .buttons,
    #header .social-handles{
        justify-content: center;
    }
    #header .buttons{
        flex-direction: column;
    }
    #header .user-info{
        margin-top: 0px;
    }
}
@media only screen and (max-width: 600px){
    #header .points{
        grid-template-columns: repeat(2, 1fr);
    }
    #header .points .flex{
        justify-content: center;
    }
    #header .points .text-muted{
        font-size: 12px;
        text-align: center;
    }
    #header .user-info{
        margin-top: 0px;
    }
}

/* ABOUT START  */
#about .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#about .about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#about .col-2{
    grid-column: span 2;
}

#about .box{
    background: var(--bg-secondary);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

#about .spotlight{
    width: 180px;
    right: 0;
}
#about .cluster{
    padding: 20px;
    position: relative;
    z-index: 2;
    gap: 20px;
}

#about .user{
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(var(--bg-base-rgb), 0.8);
    padding: 10px;
    border-radius: var(--radius-3);
}
#about .hljs{
    display: block;
    padding: 20px;
    margin-bottom: -15px;
    background: rgba(var(--bg-base-rgb), 0.6);
    color: var(--color-primary);
}
#about .hljs-string{
    color: #008000;
}
#about .hljs-keyword{
    color: #0000FF;
}
#about .hljs-attr{
    color: #A31515;
}
#about .code-block .dot-container{
    height: 50px;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 20px;
    border-bottom: var(--gray-border);
    border-width: 0.5px;
    background: rgba(var(--bg-secondary-rgb), 0.6);
}
#about .code-block .dot{
    width: 0.7rem;
    height: 0.7rem;
    min-width: 0.7rem;
    min-height: 0.7rem;
    max-width: 0.7rem;
    max-height: 0.7rem;
    border-radius: var(--radius-5);
    background: var(--success);
}
#about .code-block  .dot:nth-child(1){
    background: var(--danger);
}
#about .code-block  .dot:nth-child(2){
    background: var(--warning);
}
#about .my-drive{
    flex: 1;
    padding: 20px;
    background: rgba(var(--bg-secondary-rgb), 0.5);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
}
#about .kit{
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 1;
}
#about .kit.grid-box{
    left: 0;
}
#about .kit.card-ui{
    width: 200px;
    height: 200px;
    right: 10px;
    bottom: -20px;
}
#about .stacks-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: var(--border-shadow);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d8d8ff;
}



#about .stack{
    background: rgba(var(--bg-secondary-rgb), 0.8);
    box-shadow: var(--border-shadow);
    transition: var(--transition);
    border-bottom: 2px solid #4848b9;
    border-right: 1px solid #4848b9;
}
#about .stack:hover{
    transform: scale(1.01);
    color: var(--color-primary-accent);
}


#about .last-box{
    background-image: url("../assets/bg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#about .last-box .btn-wrapper{
    margin-top: 30px;
}
#about .last-box .btn{
    background: #222;
    color: var(--color-white);
    border-radius: 0;
    border: solid 1px transparent;
    transition: var(--transition);
    border-image: linear-gradient(
        45deg,
        var(--color-primary-accent),
        var(--color-primary-accent),
        var(--color-primary),
        #f0cd35
    )
    1;
}
#about .last-box .btn:hover{
    transform: scale(1.05);
}

/* Responsive code */
@media only screen and (max-width: 900px){
    #about .self-start{
        align-self: flex-start;
    }
    #about .row{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    #about .grid{
        grid-template-columns: 100%;
    }
    #about .col-2{
        grid-column: span 1;
    }
}
@media only screen and (max-width: 550px){
    #about .stacks-container{
        grid-template-columns: repeat(2, 1fr);
    }
    #about .stacks-container .btn{
        gap: 5px;
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* SERVICES START */
#services > .container{
    position: relative;
    z-index: 2;

}
#services .sub-title{
    text-align: center;
}
#services .services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

#services .service{
    background: rgba(var(--bg-secondary-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    overflow: hidden;
    border: 1px solid #d8d8ff;
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    padding: 50px 20px;
    transition: var(--transition);
}
#services .service:hover{
    transform: scale(1.01);
}
#services .circle{
    width: 5rem;
    height: 5rem;
    margin: auto;
    border: #e4e4ff solid 1px;
    border-radius: var(--radius-3);
    position: relative;
    margin-bottom: 40px;
}

#services .circle > .spotlight{
    width: 50%;
}

#services .name,
#services .description{
    text-align: center;
    margin-bottom: 20px;
}

#services .btn{
    background: var(--bg-base);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    color: var(--color-primary);
    transition: var(--transition);
}
#services .btn:hover{
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--transition);
}
#services .btn:hover i{
    transform: translateX(5px);
    transition: .5s ease-in-out;
    }
#services .btn i {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

#services .btn:hover i {
    transform: translateX(5px);
    transition: transform 0.3s ease-out;
}
@media only screen and (max-width: 768px){
    #services .services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 550px){
    #services .services{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* SERVICES END */

/* PROJECTS START */
#projects{
    background-color: var(--color-primary);
    background-image: url(../assets/bg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#projects .section-header{
    color: var(--color-white);
}
#projects .description{
    color: #e7e7e7;
}
#projects .projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr)); /* Sets minimum width per column */
    gap: 50px;
    justify-content: center;
    max-width: 1200px; /* Increase from 900px */
    margin: auto;
    margin-top: 70px;
}
#projects .project,
#projects .details{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #222;
}
#projects .project{
    background: var(--bg-secondary);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    transition: var(--transition);
    overflow: hidden;
    width: 100%;
    min-width: 400px; /* Set minimum width */
}

#projects img{
    transition: var(--transition);
}
#projects .project:hover img{
    transform: scale(1.1);
}
#projects .details{
    flex: 1;
    padding: 20px;
}
#projects .project .description{
    color: #222;
    font-size: 16px;
    flex: 1;
    margin-top: 10px;
}

#projects .bottom{
    margin-top: 20px;
}

#projects .btn{
    background: var(--bg-base);
    display: inline-flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 15px 20px;
    color: var(--color-primary);
    border-radius: var(--radius-4);
    transition: var(--transition);
}
#projects .btn:hover{
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--transition);
}

/* Responsive code */
@media only screen and (max-width: 910px){
    #projects .projects{
        grid-template-columns: 100%;
    }
    #projects .btn{
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px){
    #projects .projects{
        grid-template-columns: 100%;
    }
    #projects .btn{
        font-size: 14px;
    }
}

/* TESTIMONIALS START */

#testimonials{
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    background: rgba(var(--bg-secondary-rgb), 0.8);
}

#testimonials::before,
#testimonials::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    z-index: 2;
}
#testimonials::before{
    left: 0;
    background: linear-gradient(to left, transparent, var(--bg-secondary));
}
#testimonials::after{
    right: 0;
    background: linear-gradient(to left, transparent, var(--bg-secondary));
}

#testimonials .sub-title{
    text-align: center;
}

#testimonials .testimonials{
    margin-top: 50px;
    padding: 20px 0 ;
    position: static;
    height: 100%;
}
#testimonials .testimonials::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        to bottom,
        transparent,
        var(--bg-secondary),
        var(--bg-secondary),
        var(--bg-secondary),
    );
}
#testimonials .testimonial{
    height: auto;
    max-width: 60%;
    background: var(--bg-secondary);
    padding: 40px;
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-4);
    position: relative;

}

#testimonials .flex{
    align-items: center;
    gap: 10px;
}
#testimonials .user{
    margin-bottom: 30px;
}

#testimonials .name{
    font-size: 16px;
    font-weight: 500;
}
#testimonials .content{
    font-size: 16px;
    margin-bottom: 20px;

}
#testimonials .stars-container{
    justify-content: flex-start;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

/* Responsive code */

@media only screen and (max-width: 767px){
    #testimonials .testimonial{
        padding: 20px;
    }
    #testimonials .testimonial p{
        font-size: 12px;
    }
    #testimonials .stars-container{
        bottom: 20px;
        left: 20px;
    }
}
@media only screen and (max-width: 600px){
    #testimonials{
        padding: 50px 20px;
    }
    #testimonials .testimonial{
        max-width: 100%;
    }
    #testimonials .testimonial .row{
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        text-align: left
    }
    
}

/* CONTACT SECTION START */
#contact > .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#contact .box{
    background: var(--bg-secondary);
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-3);
    position: relative;
    overflow: hidden;
}
#contact .box:nth-child(1){
    margin-bottom: 20px;

}
#contact .box:nth-child(2){
    background-image: url(../assets/bg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}


#contact .info-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    background: var(--bg-base);
    border-radius: var(--radius-2);
    transition: var(--transition);
}

#contact .info-item:hover{
    transform: translateX(10px);
    background: var(--color-primary);
    color: var(--color-white);
}

#contact .info-item i{
    font-size: 20px;
}

#contact form{
    background: rgba(var(--bg-secondary-rgb), 0.5);
    padding: 30px;
    border-radius: var(--radius-3);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
}

#contact .cluster{
    padding: 20px;
    z-index: 2;
}
#contact .cluster .description{
    margin: 20px 0;
}
#contact .list-ui{
    position: absolute;
    z-index: 1;
    right: -10px;
    bottom: -10px;
    width: 50%;
    height: auto;
}
#contact .icon-container{
    background: #110c1f;
    color: #ffffff;
}

#contact .option{
    background: rgba(var(--bg-secondary-rgb), 0.5);
    width: fit-content;
    padding: 10px 20px;
    margin: 10px 0;
    gap: 10px;
    border-radius: var(--radius-3);
}
#contact .option .value{
    color: rgb(47, 47, 47);
}
#contact .option:hover .icon-container{
    transform: scale(1.1);
}

#contact .contact-form{
    padding: 20px;
    width: 100%;
    background: var(--bg-secondary);
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-3);
    position: relative;
    overflow: hidden;
}
#contact .spotlight{
    width: 170px;
    height: 150px;
    right: 0;
    bottom: -30px;
}
#contact .row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#contact .control{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--radius-2);
    color: var(--text-color);
    font-size: 15px;
    overflow: hidden;
    transition: var(--transition);
    resize: none;
    height: 50px;
}

#contact input,
#contact textarea{
    width: 100%;
    padding: 12px 15px;
    background: var(--bg-base);
    border: 1px solid transparent;
    border-radius: var(--radius-2);
    color: var(--text-color);
    transition: var(--transition);
}

#contact input:focus,
#contact textarea:focus{
    border-color: var(--color-primary);
    outline: none;
}

#contact textarea.control{
    height: 230px;
    resize: none;
}

#contact .submit-btn{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 12px 30px;
    border: none;
    border-radius: var(--radius-2);
    cursor: pointer;
    transition: var(--transition);
}

#contact .submit-btn:hover{
    background: var(--color-primary-accent);
    transform: scale(1.02);
}

/* responsive code */

@media only screen and (max-width: 768px){
    #contact > .container{
        grid-template-columns: 1fr;
    }
    
    #contact .info-item:hover{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 480px){
    #contact .contact-info,
    #contact form{
        padding: 20px;
    }
}

/* FOOTER START */
#footer{
    background: var(--bg-secondary);
    border-radius: 50px 50px 0 0;
    box-shadow: var(--border-shadow);
    position: relative;
    overflow: hidden;
}

#footer .spotlight{
    bottom: -50px;
    left: -50px;
    height: 120px;
}

#footer .container{
    padding-bottom: 20px;
}

#footer .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#footer .col-2{
    grid-column: span 2;
}
#footer .routes-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#footer .route-item:hover {
    text-decoration: underline wavy;
}

#footer .description{
    font-size: 16px;
    margin-bottom: 15px;
}
#footer .route-item{
    color: var(--color-primary);
}
#footer .copyright{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer .copyright h3{
    color: var(--color-primary);
}
#footer .social-handles{
    gap: 10px;
}
#footer .social-handles .handle:hover{
    transform: none;
}

/* Responsive code */
@media only screen and (max-width: 900px){
    #footer .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
    #footer .col-2{
        grid-column: span 1;
    }
}

@media only screen and (max-width: 600px){
    #footer .grid{
        grid-template-columns: 100%;
    }
}

